<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>Hyli – Business Matching, Certification Assistance, Market Research</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="Hyli help you open a new market with the right certification for your product.">
        <!-- keywords -->
        <meta name="keywords" content="Business Matching, Certification Assistance, Market Research">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/logo.png">
        <link rel="apple-touch-icon" href="images/logo.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/logo.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/logo.png">
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" type="text/css" href="css/bootsnav.css">
        <link rel="stylesheet" type="text/css" href="css/font-icons.min.css">
        <link rel="stylesheet" type="text/css" href="css/theme-vendors.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav background-white header-light navbar-top navbar-expand-lg nav-box-width">
                <div class="container-fluid nav-header-container">
                    <!-- start logo -->
                    <div class="col-auto ps-0">
                        <a href="index.html" title="Hyli" class="logo"><img src="images/logo.png" data-at2x="images/logo@2x.png" class="logo-dark default" alt="Hyli"><img src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Hyli" class="logo-light"></a>
                    </div>
                    <!-- end logo -->
                    <div class="col accordion-menu pe-0 pe-md-3">
                        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-toggle-1">
                            <span class="sr-only">toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="animate__fadeIn" data-out="animate__fadeOut">
                                <!-- start menu item -->
                                <li class="dropdown simple-dropdown"><a href="aboutus.html">ABOUT US</a><i class="fas fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>

                                </li>
                                <li class="dropdown megamenu-fw">
                                    <a href="service.html">Services</a><i class="fas fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>

                                </li>
                                <li class="dropdown simple-dropdown"><a href="news.html">News</a><i class="fas fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                </li>
                                <li class="dropdown megamenu-fw">
                                    <a href="contact.html">Contact</a><i class="fas fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-auto pe-0">
                        <div class="heder-menu-button d-none d-lg-inline-block">
                            <button class="navbar-toggle mobile-toggle right-menu-button" type="button" id="showRightPush">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->
        </header>
        <!-- start page title section -->
               <section class="wow animate__fadeIn bg-light-gray padding-35px-tb page-title-small top-space">
            <div class="container">
                <div class="row align-items-cener">
                    <div class="col-lg-8 col-md-6 d-flex flex-column justify-content-center text-center text-md-start">
                        <!-- start page title -->
                        <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase">Services</h1>
                        <!-- end page title -->
                    </div>                    
                    <div class="col-lg-4 col-md-6 alt-font breadcrumb justify-content-center justify-content-md-end text-small sm-margin-10px-top">
                        <!-- start breadcrumb -->
                        <ul>
                            <li><a href="index.html" class="text-dark-gray">Home</a></li>
                            <li class="text-dark-gray">Services</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>    
        <!-- end page title section -->
        <!-- end page title section -->
        <!-- start feature box section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-7 col-lg-6 col-sm-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
						<div class="alt-font text-deep-pink margin-10px-bottom text-uppercase text-small">SERVICES</div>
                        <h5 class="alt-font text-extra-dark-gray font-weight-600 mb-0">Our Specialties</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- start services item -->
                  <div class="col-12 col-lg-4 col-md-6 col-sm-9 md-margin-40px-bottom wow animate__fadeInUp">
                    <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-30px-bottom">
                            <a href="#"><img src="images/market.jpg" alt=""/></a>
                      </div>
                      <a href="#" class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">Market Research</a>
                      <p class="w-95 lg-w-100">Understanding your product's intended global customer base</p>
                    </div>
                    <!-- end services item -->
                    <!-- start services item -->
                  <div class="col-12 col-lg-4 col-md-6 col-sm-9 md-margin-40px-bottom wow animate__fadeInUp" data-wow-delay="0.2s">
                    <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-30px-bottom">
                            <a href="#"><img src="images/business.jpg" alt=""/></a>
                      </div>
                      <a href="#" class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">Business Matching</a>
                      <p class="w-95 lg-w-100">Matching you with the right partners for certification and distribution</p>
                    </div>
                    <!-- end services item -->
                    <!-- start services item -->
                  <div class="col-12 col-lg-4 col-md-6 col-sm-9 wow animate__fadeInUp" data-wow-delay="0.4s">
                    <div class="margin-ten-bottom overflow-hidden image-hover-style-1 md-margin-30px-bottom">
                            <a href="#"><img src="images/certification.jpg" alt=""/></a>
                      </div>
                      <a href="#" class="alt-font margin-5px-bottom d-block text-extra-dark-gray font-weight-600 text-uppercase text-small">Certification Assistance</a>
                      <p class="w-95 lg-w-100">Assistance before, during, and after the certification process.</p>
                    </div>  
                    <!-- end services item -->
                </div>
            </div>
        </section>
        <!-- end  feature box section -->
        <!-- start feature box section -->
        <section class="no-padding wow animate__fadeIn bg-extra-dark-gray">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col cover-background md-h-500px sm-h-350px wow animate__fadeInLeft"  style="background-image:url('images/service.jpg');"><div class="hidden-sm h-350px"></div></div>
                    <div class="col padding-six-all xl-padding-four-all lg-padding-six-all md-padding-nine-half-tb md-padding-30px-lr wow animate__fadeInRight">
                        <div class="row row-cols-1 row-cols-xl-2 row-cols-lg-1 row-cols-md-2 row-cols-sm-2 m-0">
                            <!-- start features box item -->
                            <div class="col margin-six-bottom md-margin-50px-bottom sm-margin-40px-bottom last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-target text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-white-2 margin-5px-bottom alt-font">BUSINESS MATCHING</div>
                                        <p class="w-95 xl-w-100">Connecting you to the certification agency matching your business model, then helping build connections to new markets.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col margin-six-bottom md-margin-50px-bottom sm-margin-40px-bottom last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-desktop text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-white-2 margin-5px-bottom alt-font">INITIAL APPLICATION</div>
                                        <p class="w-95 xl-w-100">Form assistance, ingredient classification, and information about required supporting documents.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col margin-six-bottom md-margin-50px-bottom sm-margin-40px-bottom last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-puzzle text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-white-2 margin-5px-bottom alt-font">AUDIT AND INSPECTION</div>
                                        <p class="w-95 xl-w-100">Pre-audit preparation and internal audits will ensure you are audit ready anytime.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col margin-six-bottom md-margin-50px-bottom sm-margin-40px-bottom last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-tools text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-white-2 margin-5px-bottom alt-font">IMPROVEMENT</div>
                                        <p class="w-95 xl-w-100">Assistance integrating standards into current management systems, external training resources</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col lg-margin-six-bottom md-margin-50px-bottom sm-margin-40px-bottom last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-briefcase text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-white-2 margin-5px-bottom alt-font">RENEWAL</div>
                                        <p class="w-95 xl-w-100">Form assistance, and support while preparing updated supporting documents</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                            <!-- start features box item -->
                            <div class="col last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative ">
                                    <i class="icon-basket text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-white-2 margin-5px-bottom alt-font">CONTINUED SUPPORT</div>
                                        <p class="w-95 xl-w-100">Mentions on Hyli’s print and web marketing materials, displays or mentions at Hyli’s participation at events, B2B products added to database of certified ingredients available to Hyli clients.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end features box item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end feature box section -->
               
               <!-- start section -->
        <section class="pb-0 bg-light-gray wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-md-10 margin-eight-bottom text-center last-paragraph-no-margin">
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Let Hyli Guide Your Path To Excellence</h5>
                        <p class="d-inline-block">Pick and chose any of our services to support your entrance to new markets.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="images/aboutus.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section  -->
	
	<!-- start footer -->
        <footer class="footer-strip-dark bg-extra-dark-gray padding-90px-tb lg-padding-70px-tb md-padding-50px-tb sm-padding-40px-tb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-7 col-12 text-center text-md-start sm-margin-30px-bottom">
                        <h5 class="text-white margin-5px-bottom">Let's make something great together</h5>
                        <span class="text-medium">Get in touch with us and talk about your desired market</span>
                    </div>
                    <div class="col-lg-4 col-md-5 col-12 text-center text-md-end">
                        <span class="text-extra-large text-extra-dark-gray text-light-gray d-inline-block sm-d-block"><a  href="contact.html" class="btn btn-large btn-transparent-white d-table d-lg-inline-block md-margin-lr-auto">Contact us</a></span>
                    </div>
                </div>
                <div class="border-top border-color-medium-dark-gray padding-80px-top margin-80px-top lg-padding-60px-top lg-margin-60px-top md-padding-50px-top md-margin-50px-top sm-padding-40px-top sm-margin-40px-top">
                    <div class="row align-items-center">
                        <!-- start logo -->
                        <div class="col-lg-3 col-md-12 text-center text-md-start md-margin-50px-bottom sm-margin-30px-bottom">
                            <a href="index.html"><img class="footer-logo" src="images/logo-white.png" data-at2x="images/logo-white@2x.png" alt="Hyli"></a>
                        </div>
                        <!-- end logo -->
                        <!-- start copyright -->
                        <div class="col-lg-4 col-md-5 col-12 sm-margin-30px-bottom text-medium text-center text-md-start">
                            Chicago, IL, USA</div>
                        <div class="col-lg-3 col-md-4 col-12 sm-margin-30px-bottom text-medium text-center text-md-start">
                            <a href="mailto:info@HyliQuality.com">info@HyliQuality.com</a>
                        </div>
                        <!-- end copyright -->
                        <!-- start social media -->
                        <div class="col-lg-2 col-md-3 text-center text-md-end">
                            <div class="social-icon-style-8 d-inline-block align-middle">
                                <ul class="small-icon mb-0">
                                    <li><a class="twitter text-white-2" href="https://www.linkedin.com/company/79490362" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end social media -->
                        <!-- start copyright -->
                        <div class="margin-40px-top text-center">Copyright © 2022 Hyli LLC  |  Website by <a href="https://www.youngishere.com/">Young</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top -->
        <!-- javascript -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootsnav.js"></script>
        <script type="text/javascript" src="js/jquery.nav.js"></script>
        <script type="text/javascript" src="js/hamburger-menu.js"></script>
        <script type="text/javascript" src="js/theme-vendors.min.js"></script>
        <!-- setting -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>